/* header */
/* variables */
$header-height: 30px;
.header {
    min-height: $header-height;
    padding: 12px 20px;
    background-color: #1976d2;
    display: flex;
    flex-flow: row nowrap;
    text-align: center !important;

    .logo {
        color: #fff;
        margin-bottom: 0;
        font-size: 1.375rem;
        cursor: pointer;
        transition: all 0.3s;

        img {
            display: block;
        }

        &:hover {
            opacity: 0.8;
        }
        &:active {
            transform: scale(0.95);
        }
    }

    &-title {
        color: white;
        text-decoration: none;
        margin: auto;
    }

    &-info {
        // margin-left: auto;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    &-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: row nowrap;

        .npm-logo {
            margin-right: 10px;
            img {
                filter: invert(1);
                transform: scale(2);
            }
        }

        li {
            width: 21px;
            height: 21px;
            margin-left: 16px;

            a {
                display: block;
                opacity: 0.7;

                &:hover {
                    opacity: 1;
                }
            }

            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }
    .prev-docs {
        line-height: 21px;
        color: #fff;

        .dropdown-toggle {
            opacity: 0.7;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }
    }
}
