<header id="header" class="header">
    <h1 class="logo">
    </h1>
    <a class="header-title" [routerLink]="['']">
        <h1 class="app-title">🌈 NG-TICKER DEMO 🚀</h1>
    </a>

    <div class="header-info">
        <ul class="header-list">
            <li>
                <a target="_blank" rel="noopener" href="https://www.npmjs.com/package/ng-ticker">
                    <img src="assets/images/icons/npm.svg" alt="npmjs">
                </a>
            </li>
            <li>
                <a target="_blank" rel="noopener" href="https://stackoverflow.com/questions/tagged/ng-ticker">
                    <img src="assets/images/icons/stackoverflow.svg" alt="stackoverflow">
                </a>
            </li>
            <li>
                <a target="_blank" rel="noopener" href="https://github.com/dheeraj237/ng-ticker">
                    <img src="assets/images/icons/icon-git.svg" alt="ngx on github">
                </a>
            </li>
        </ul>
    </div>
</header>